@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(40%);
  }
  to {
    transform: translateX(0);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#slideshow-root {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ddd;
}

.slide {
  background-color: #333;
  color: white;
  background-size: cover;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: auto;
  position: absolute;
  left: 25px;
  top: 25px;
  background-blend-mode: overlay;
  font-family: "Cascadia Code", "Consolas", "Inconsolata", monospace;
}

.slide .slide-container {
  width: 100%;
  height: 100%;
}

.slide.slide-title .slide-container {
  display: flex;
}

.slide.slide-title h1 {
  color: black;
  margin: auto;
  font-size: 4em;
  padding: 50px 30% 50px 50px;
  background-color: tomato;
  animation: slide-in-left 500ms ease-in-out;
}

.slide.slide-code h1 {
  margin: 50px;
  font-size: 3em;
}

.slide.slide-code pre {
  margin: 50px;
  font-size: 2rem;
  padding: 20px;
  background-color: #111;
}

.slide.slide-content .slide-container {
  padding: 50px;
  font-size: 2.1rem;
}

.slide.slide-content h1 {
  font-size: 3rem;
  margin-top: 0;
}

.slide.slide-video .slide-container {
  display: flex;
  flex-direction: column;
}

.slide.slide-video h1 {
  margin: 0;
  padding: 50px;
  font-size: 3em;
}

.slide.slide-video .video-wrapper {
  flex: 1 1 auto;
}

.fade-in {
  animation: fade-in 200ms linear;
}

/* .fade-out {
  animation: fade-out 200ms linear reverse;
} */
